.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 97%;
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: #ffffff;
  max-width: 300px;
}

.footer_center {
  flex: 0.4;
  padding: 0 100px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_right {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0 100px;
  max-width: 300px;
}

.footer_green {
  color: #1ed15e;
}

.album_logo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer_albuminfo > h4 {
  margin-bottom: 5px;
}

.footer_albuminfo > p {
  font-size: 12px;
}

.footer_right * .MuiSlider-root {
  color: #1ed15e;
}

.footer_icon:hover,
.footer_green:hover {
  transition: transform 0.2s ease-out;
  transform: scale(1.2) !important;
}
